.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 0) 0%,
    rgba(27, 27, 27, 1) 100%
  );
  margin-top: 24px;
}

.messages {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  align-self: center;
}
