.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(27, 27, 27, 0) 0%,
    rgba(27, 27, 27, 1) 100%
  );
  margin-top: 24px;
}

.messages {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0px 100px 24px 100px;
  width: 100%;
  max-width: 1200px;
}
