.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(39, 39, 39, 1) 100%);
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  padding: 24px 100px;
  height: 100%;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
