.tabsWrapper {
  display: flex;
  align-items: center;
  align-self: stretch;
  border-right: 1px solid #313131;
  margin-top: 2px;
  justify-content: space-between;
}

.tabs {
  display: flex;
  align-items: flex-end;
}

.tabSpacer {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  align-self: flex-end;
  display: block;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 7px 12px;
  width: 163px;
  height: 36px;
  background-color: #2a2a2a;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.tabTextContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
}

.tabText {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0;
}

.closeBtn {
  border: none;
  cursor: pointer;
  background: none;
  flex-shrink: 0;
}

.closeBtnIcon {
  color: #fff;
}

.searchTabBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.flexWrapper {
  display: flex;
  align-items: center;
}

.searchTabIcon {
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c3c3c;
  margin-right: 6px;
}
