.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.scrollableContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.inputAreaFixed {
  flex-shrink: 0;
}

/* Message styling that's specific to content */
.messageBlock {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  /* padding: 0px 100px; */
}

.messageSubBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.messageOption {
  display: flex;
  gap: var(--spacing-2);
}

.messageText {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--color-text-secondary);
}

.logoText {
  color: #dee4f0;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

.flexWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
  /* padding: 0px 100px; */
}
