.header {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-self: stretch;
  padding: 18px 24px;
  background-color: #1b1b1b;
  border-bottom: 1px solid #313131;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 241px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  color: #f4f6fa;
  margin: 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
