.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--color-bg-primary);
  border-right: 1px solid var(--color-border-secondary);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  padding: 20px 24px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 8px;
  padding: 24px 24px 0px;
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 8px;
  padding: 24px;
}
