.messageGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profileSection {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  justify-content: flex-end;
}

.aiAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 0.89px solid rgba(255, 255, 255, 0.12);
  border-radius: 3.56px;
  box-shadow: 0px 0.44px 0.89px 0px rgba(16, 24, 40, 0.05),
    inset 0px -0.89px 0px 0px rgba(16, 24, 40, 0.05),
    inset 0px 0px 0px 0.44px rgba(16, 24, 40, 0.18);
}

.profileName {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xs);
  color: var(--color-text-secondary);
}

.messageContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
}
