.userProfile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #115D82;
  border-radius: 50%;
  flex-shrink: 0;
  opacity: 0.8;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.initials {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #F4F6FA;
}

.userName {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-sm);
  color: #F4F6FA;
}
