.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 32px;
  padding: 24px 16px 140px;
  height: 100%;
  overflow-y: auto;
}
