.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: var(--color-border-secondary);
  overflow: hidden;
}

.chatSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.playgroundSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-bg-primary);
  overflow: hidden;
}

.resizer {
  width: 1px;
  background-color: var(--color-border-secondary);
  cursor: col-resize;
  flex-shrink: 0;
  position: relative;
  transition: background-color 0.2s;
}

.resizer:hover {
  background-color: #5c5f65;
}

.resizer:active {
  background-color: #19e299;
}
